@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-quicksand);
}

body {
  background-color: #45474b;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  color: #45474b;
  font-weight: medium;
  /* align-items: center; */

  /* justify-content: center; */
}

@layer components {
  .listContainer {
    justify-content: center;
    background-color: #f5f7f8;
    max-width: 480px;
  }
  header {
    background-color: #f5f7f8;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    max-width: 480px;
  }

  footer {
    background-color: #f5f7f8;
    max-width: 480px;
  }

  .addButton {
    color: #45474b;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  margin-left: 4em;
  margin-right: 4em;
  padding: 1em;
}

.storeCard {
  border-radius: 5px;
  border-color: #495e57;
  box-shadow: 1px 2px 2px#45474B;
  margin-bottom: 1em;
}

.itemName {
  font-size: larger;
}

.checkboxContainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxContainer input:checked ~ .checkmark {
  background-color: #495e57;
}
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  background-color: #f4ce14;
  border-radius: 50%;
}

.checkedItem {
  text-decoration: line-through;
}

.hideInput {
  display: none;
}

.showInput {
  width: 10em;
  font-weight: medium;
  text-align: center;
}

.loginRegisterForm {
  display: flex;
  flex-direction: column;
}
